# Server
PORT=5000
NODE_ENV=development

# MySQL
DB_HOST=DB_HOST_NAME
DB_PORT=DB_PORT
DB_USER=DB_USER_NAME
DB_PASSWORD=YOUR_DB_PASS
DB_NAME=DB_NAME

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

# External APIs
MOVIE_API_URL=YOUR_MOVIE_API
ANIME_API_URL=YOUR_ANIME_API
TMDB_API_KEY=YOUR_TMDB_API

# CORS
CORS_ORIGIN=http://youdomain // enter your domain here


